body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    color: #2c3e50;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

img {
    border-radius: 50%;
    border: 2px solid #3498db;
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.1);
}

.champion-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* Colores personalizados para los headers de cada tabla */
.blind-pick th {
    background-color: #3498db;
    /* Azul */
    color: white;
}

.counter-pick th {
    background-color: #e74c3c;
    /* Rojo */
    color: white;
}

.flex th {
    background-color: #2ecc71;
    /* Verde */
    color: white;
}

.two-vs-one th {
    background-color: #9b59b6;
    /* Morado */
    color: white;
}

.mage th {
    background-color: #e67e22;
    /* Naranja */
    color: white;
}

.hypercarry th {
    background-color: #1abc9c;
    /* Turquesa */
    color: white;
}